data:
    vaultusernameinfo: {{myjsondata['serviceData2'][0]['data_all'][0]['usernameinfo']}}
    vaultusersecretinfo: {{myjsondata['serviceData2'][0]['data_all'][0]['usersecretinfo']}}
    vaultuserAddress: {{myjsondata['serviceData2'][0]['data_all'][0]['userAddress']}}
    vaultuserMobile: {{myjsondata['serviceData2'][0]['data_all'][0]['userMobile']}}